@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #1A1A1A;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    padding: 20px 0;
}

img
{
    fill: white;
}

a
{
    outline: none;
    text-decoration: none;
}

p{
    font-size: 18px;
    
    letter-spacing: 1px;
}

article
{
    max-width: 600px;
    text-align: center;
    padding: 20px;
}